<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxcia.blog.mapper.user.ArticleBrowseLogMapper">

    <select id="getArticleBrowseCountByArticleList" resultType="com.jxcia.blog.pojo.entity.ArticleWithBrowseCount">
        select article_id, count(*)
        from user_article_browse_log
        where article_id in
        <foreach collection="articleList" item="ac" open="(" close=")" separator=",">
            #{ac.id}
        </foreach>
        group by article_id
    </select>

    <select id="getIdsByUserHistoryDto" resultType="java.lang.Integer">
        select article_id from user_article_browse_log
        where user_id = #{userId}
        <if test="createTime != null">and create_time &gt; #{createTime}</if>
        group by article_id
        order by max(create_time) desc
    </select>

    <update id="updateUserIdByArticleId">
        update user_article_browse_log
        set user_id = null
        where article_id in
        <foreach collection="articleIdList" item="aId" separator="," open="(" close=")">
            #{aId}
        </foreach>
        and user_id = #{userId}
    </update>
</mapper>