<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxcia.blog.mapper.user.UserMapper">
        <update id="update">
            update user
            <set>
                <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
                <if test="icon != null and icon != ''">icon = #{icon},</if>
                <if test="email != null and email != ''">email = #{email},</if>
                <if test="password != null and password != ''">password = #{password},</if>
                <if test="description != null and description != ''">description = #{description},</if>
                <if test="themeId != null">theme_id = #{themeId},</if>
                <if test="likeShowStatus != null">like_show_status = #{likeShowStatus},</if>
                <if test="accountStatus != null">account_status = #{accountStatus},</if>
            </set>
            where id = #{id}
        </update>

    <select id="findByUser" resultType="com.jxcia.blog.pojo.entity.User">
        select *
        from user
        <where>
            <if test="nickname != null and nickname != ''">nickname like concat('%', #{nickname}, '%')</if>
            <if test="email != null and email != ''">email = #{email}</if>
        </where>
    </select>

    <delete id="deleteByIdList">
        delete from user
        where id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="getPage" resultType="com.jxcia.blog.pojo.vo.UserPageVo">
        select u.id, u.nickname, u.email, u.icon, u.account_status as accountStatus,
               u.create_time as createTime,
               (select count(*) from article a where a.user_id = u.id) as articleCount
        from user u
        <where>
            <if test="keyword != null and keyword != ''">
                and (u.nickname like concat('%', #{keyword}, '%') or u.email like concat('%', #{keyword}, '%'))
            </if>
            <if test="status != null">
                and u.account_status = #{status}
            </if>
        </where>
        order by u.create_time desc
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from user u
        <where>
            <if test="keyword != null and keyword != ''">
                and (u.nickname like concat('%', #{keyword}, '%') or u.email like concat('%', #{keyword}, '%'))
            </if>
            <if test="status != null">
                and u.account_status = #{status}
            </if>
        </where>
    </select>
</mapper>
